# Base requirements for both local development and tox.
django-mptt==0.6.1
django-nose==1.2
nose==1.3.3
Pillow==2.4.0 # Seems to be required by tox, but not sure why--maybe it's running Django's tests, not ours?
South==0.8.4
tox==1.7.1
git+ssh://git@git.thecut.net.au/thecut-authorship@0.5.1
git+ssh://git@git.thecut.net.au/thecut-ordering@0.5.1
git+ssh://git@git.thecut.net.au/thecut-publishing@0.5.1
