{% for item in menuitem_list %}
  {% if forloop.first %}<ul class="menu{% if extra_class %} {{ extra_class }}{% endif %}">{% endif %}
    {% if item.content_object %}<li{% if item.featured %} class="featured"{% endif %}>
      {% if item.is_menu %}<a href="#">{{ item }}</a>{% load menu_tags %}{% menu item.content_object.slug %}{% else %}<a href="{{ item.get_absolute_url }}"{% ifequal request.path item.get_absolute_url %} class="active"{% endifequal %}>{{ item }}</a>{% endif %}
    </li>{% endif %}
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
