{% load menus %}

{% for item in menuitem_list %}{% with item_url=item.get_absolute_url %}
  {% if forloop.first %}<ul{% if level %} data-level="{{ level }}"{% endif %} class="menu{% if extra_class %} {{ extra_class }}{% endif %}">{% endif %}
  <li class="{{ item.get_css_classes }}">
    {% if item.get_absolute_url %}<a href="{{ item.get_absolute_url }}" {% if request.path == item.get_absolute_url %} class="active"{% endif %}>{% else %}<span tabindex="0" role="button">{% endif %}
    {% if item.image %}<img src="{{ item.image.url }}" alt="{{ item }}" />{% endif %}
    {{ item }}
    {% if item.get_absolute_url %}</a>{% else %}</span>{% endif %}
    {% if item.is_menu %}{% menu item level=level %}{% endif %}
  </li>
  {% if forloop.last %}</ul>{% endif %}
{% endwith %}{% endfor %}
