{% extends "backslash/change_form.html" %}

{% block extrahead %}{{ block.super }}
<link href="/static/menus/backslash.css" type="text/css" rel="stylesheet" />

<script type="text/template" id="menuitem-template">
  <div class="form">
    <% if ( is_menu ) { %>
    <span class="label">Submenu</span>
    <% } %>
    <input class="disabled name" disabled="disabled" value="<%= name %>"></input>
    <% if (!is_menu) { %>
    <select class="disabled contenttype" disabled="disabled">
      <option value="<%= content_type.id %>"><%= content_type.verbose_name %></option>
    </select>
    <select class="disabled contentobject" disabled="disabled">
      <option value="<%= object_id %>"><%= object_id %></option>
    </select>
    <% } %>
    <div class="controls">
      <span class="button edit-save">Edit/Save</span>
      <span class="button delete">Delete</span>
      <span class="button move">Move</span>
    </div>
  </div>
</script>


<script type="text/template" id="menu-template">

  <ul class="menu" data-pk="<%= id %>"></ul>

  <ul class="controls">

    <li class="add submenu">
      <div class="form hidden">
	<input class="name" />
	<span class="button save">Save</span>
	<span class="button cancel">Cancel</span>
      </div>
    </li>

    <li class="add menuitem">
      <div class="form hidden">
	<input class="name" />
	<label for="contenttype"></label>
	<label for="contentobject"></label>
	<select class="contenttype"></select>
	<select class="contentobject"></select>
	<span class="button save">Save</span>
	<span class="button cancel">Cancel</span>
      </div>

    <li>
      <span class="button add menuitem">New Item</span>
      <span class="button add submenu">New Submenu</span>
    </li>

  </ul>
</script>


<script type="text/javascript" src="/static/menus/javascript/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/menus/javascript/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/static/menus/underscore-min.js"></script>
<script type="text/javascript" src="/static/menus/backbone-min.js"></script>
<script type="text/javascript" src="/static/menus/javascript/menuitem.js"></script>
<script type="text/javascript" src="/static/menus/javascript/contenttype.js"></script>
<script type="text/javascript" src="/static/menus/menus.js"></script>
{% endblock %}

{% block page_title %}{{ object.name }}{% endblock %}

{% block page_content %}
<div id="menu" data-pk="{{ object.pk }}"></div>
{% endblock %}
