{% extends "backslash/change_form.html" %}

{% block extrahead %}{{ block.super }}

<script type="text/template" id="menuitem-template">
    <input class="disabled name" disabled="disabled" value="<%= name %>"></input>
    <% if (!is_menu) { %>
    <label class="disabled" for="contenttype"><%= content_type ? content_type.verbose_name:'' %></label> <%= content_type ? '/':'' %> <label class="disabled" for="contentobject"><%= content_object ? content_object.name:'' %></label>
    <select class="disabled contenttype" disabled="disabled">
      <option value="<%= content_type.id %>"><%= content_type.verbose_name %></option>
    </select>
    <select class="disabled contentobject" disabled="disabled">
      <option value="<%= object_id %>"><%= object_id %></option>
    </select>
    <% } %>
    <span class="button edit">Edit</span>
    <span class="button save disabled">Save</span>
    <span class="button delete">Delete</span>
    <span class="button move">Move</span>
</script>


<script type="text/template" id="menu-template">
  <ul class="menu" data-pk="<%= id %>"></ul>
  <ul class="controls">
    <li><span class="button.add.menuitem">+ Menu Item</span></li>
    <li><span class="button.add.submenu">+ Menu Item</span></li>
  </ul>
</script>


<script type="text/javascript" src="/static/menus/javascript/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/menus/javascript/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/static/menus/underscore-min.js"></script>
<script type="text/javascript" src="/static/menus/backbone-min.js"></script>
<script type="text/javascript" src="/static/menus/javascript/menuitem.js"></script>
<script type="text/javascript" src="/static/menus/javascript/contenttype.js"></script>
<script type="text/javascript" src="/static/menus/menus.js"></script>
{% endblock %}

{% block content %}
<div id="menu" data-pk="{{ object.pk }}"></div>
{% endblock %}
