body.ajax-loading, body.ajax-loading * {
    cursor: wait !important;
}

.menus-menu .menu {
  clear: both;
  }

.menus-menu .menu .menuitem .source,
.menus-menu .menu .menuitem .target {
  display: inline-block;
  }

.action.close {
  cursor: pointer;
}

