body.ajax-loading, body.ajax-loading * {
    cursor: wait !important;
}

.menus-menu .menu {
  clear: both;
  }

.menus-menu .menu .menuitem .source,
.menus-menu .menu .menuitem .target {
  display: inline-block;
  }

.action.close {
  cursor: pointer;
}

.menus-menu.change-form .imageinput a {
  float: left;
  display: none;
}

.menus-menu.change-form .imageinput a.image {
  display: inline-block;
  height: 27px;
}

.menus-menu.change-form .imageinput a.image img {
  display: block;
  height: 27px;
  max-width: 30px;
}

.menus-menu.change-form .imageinput br {
  display: none;
}

body.menus-menu.change-form #fancybox-content .imageinput label,
.menus-menu.change-form .imageinput input[type="checkbox"] {
  float: right;
  width: auto;
}

.menus-menu.change-form .imageinput input[type="checkbox"] {
  margin: 5px 5px 0 5px;
}
