#menus {
  padding: 30px;
  background-color: #f3f3f3;
  border-top: 1px solid #ccc;
}

/* Indent child menus. */
#menus .menu > li > .menu,
#menus .menu > li > .controls.add-new-items {
  padding-left: 25px;
}

#menus .menu > li > form {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
  max-width: 620px;
  margin-bottom: 12px;
  padding: 10px 12px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
     -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
          box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* on 'move' */
#menus .menu > li.ui-sortable-helper form {
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.2);
     -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.2);
          box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

#menus .menu > li form .form-fields {
  width: 460px;
}

#menus .menu > li .label {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 8px 3px;
  margin-bottom: 8px;
  margin-left: -5px;
  background-color: #3ECDEB;
  font-size: 0.786em; /* 11/14 */
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.3px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
}

#menus .menu > li label {
  display: block;
  margin-top: 15px;
  margin-bottom: 6px;
  font-size: 0.857em; /* 12/14 */
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: #818793;
}

#menus .menu > li .title label {
  margin-top: 0;
}

#menus form[data-state="DISPLAY"] label {
  display: none;
}

#menus .menu > li input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-weight: normal;
  font-size: 1.143em; /* 16/14 */
  color: #171F26;
  background: #fcfcfc;
  border: 1px solid #d9d9d9;
  text-overflow: ellipsis;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

#menus .menu > li input:focus {
  color: #0A0B0D;
  background-color: #fff;
  border-color: #959EA6;
  -webkit-box-shadow: 0 2px 3px #E6E6E6;
     -moz-box-shadow: 0 2px 3px #E6E6E6;
          box-shadow: 0 2px 3px #E6E6E6;
}

#menus .menu > li input[disabled] {
  padding: 0;
  margin-right: 0;
  border: none;
  background-color: #fff;
}

#menus .menu > li select {
  font-size: 0.857em; /* 12/14 */
}

#menus .menu > li .contenttype select {
  margin-right: 10px;
}

#menus form select[disabled] {
  display: none;
}

#menus form .target {
  display: block;
  margin-top: 7px;
  color: #818793;
  font-size: 0.857em; /* 12/14 */
  line-height: 1;
}

#menus form[data-state="EDIT"] .target {
  display: none;
}

#menus .menu > li form .controls {
  position: absolute;
  top: 10px;
  right: 7px;
}

#menus form .controls .button {
  overflow: hidden;
  text-indent: 9999em;
  font-weight: bold;
  background-color: #ffffff;
  border: none;
  background-repeat: no-repeat;
  background-position: 0 50%;
  text-shadow: none;
  height: 25px;
  width: 25px;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
     -moz-transition: opacity 0.2s linear;
      -ms-transition: opacity 0.2s linear;
       -o-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear;
}

#menus form .controls .button.edit,
#menus form .controls .button.delete,
#menus form .controls .button.move {
  opacity: 0.75;
}

#menus form .controls .button.edit:hover,
#menus form .controls .button.delete:hover,
#menus form .controls .button.move:hover {
  opacity: 1;
}

#menus form .controls .button.edit {
  background-image: url('images/edit-icon.png');
}

#menus form .controls .button.delete {
  background-image: url('images/delete-icon.png');
}

#menus form .controls .button.move {
  background-image: url('images/reorder-icon.png');
}

@media all and (min-width: 0) {
  #menus form .controls .button.edit {
    background-image: url('images/edit-icon.svg');
  }

  #menus form .controls .button.delete {
    background-image: url('images/delete-icon.svg');
  }

  #menus form .controls .button.move {
    background-image: url('images/reorder-icon.svg');
  }
}

#menus form .controls .button.disabled {
  opacity: 0.2;
  pointer-events: none;
}

#menus form .edit-controls {
  clear: both;
  padding: 9px 10px 10px;
  margin: 15px -12px -12px;
  overflow: hidden;
  background-color: #fafafa;
  border-top: 1px solid #d9d9d9;
  -webkit-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

#menus form[data-state="DISPLAY"] .edit-controls {
  display: none;
}

#menus form .edit-controls .button {
  vertical-align: top;
  margin-right: 10px;
}

#menus form .edit-controls .button[data-action="save"] {
  padding-left: 10px;
}

#menus form .edit-controls .button[data-action="save"]:before {
  content: "";
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 12px;
  margin-right: 5px;
  background: url('images/check-mark.png') no-repeat;
}

#menus form .edit-controls .button[data-action="delete"] {
  float: right;
  margin-right: 0;
}

@media all and (min-width: 0) {
  #menus form .edit-controls .button[data-action="save"]:before {
    background-image: url('images/check-mark.svg');
  }
}

#menus .add-new-items div.form.hidden {
  display: none;
}

#menus .add-new-items .toolbar {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 620px;
  margin-top: 15px;
  padding: 12px 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 25px;
  background: #E1E2E6;
  border: 1px solid #d1d2d6;
}

#menus .add-new-items .toolbar .button.add {
  color: #818793;
  font-weight: bold;
  background: transparent;
  border: none;
  background-image: url('images/add-icon.png');
  background-repeat: no-repeat;
  background-position: 0;
  text-shadow: none;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 3px;
}

@media all and (min-width: 0) {
  #menus .add-new-items .toolbar .button.add {
    background-image: url('images/add-icon.svg');
  }
}

#menus .add-new-items .toolbar .button.add:hover,
#menus .add-new-items .toolbar .button.add:focus {
  color: #171F26;
}
