#menu {
    padding: 30px;
    background-color: #f3f3f3;
    border-top: 1px solid #e5e5e5;
}


  /* Indent child menus. */
  #menu li.menuitem > ul {
      margin-left: 20px;
  }

  #menu li.menuitem div.form,
  #menu li.submenu div.form {
      margin-bottom: 15px;
      padding: 10px;
      background-color: #ffffff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
  }

    #menu li.menuitem span.label {
	background-color: #3ECDEB;
	color: #ffffff;
	-webkit-border-radius: 2px;
                border-radius: 2px;

	text-transform: uppercase;
	font-size: 75%;
	display: inline-block;
	padding: 1px 5px 1px 15px;
    }

    #menu li.menuitem input {
	font-weight: normal;
	font-size: 1.286em; /* 18/14 */
	color: #171F26;
    }

    #menu li.menuitem input.disabled {
	border: none;
	background-color: #ffffff;
    }

  #menu div.form {
      padding-left: 10px;
      position:relative;
  }

    #menu div.form div.controls {
	display: inline-block;
	position: absolute;
	right: 10px;
    }

    #menu div.form div.controls .button.edit-save,
    #menu div.form div.controls .button.delete {
	  font-weight: bold;
	  background-color: #ffffff;
	  border: none;
	  background-repeat: no-repeat;
	  background-position: 0% 50%;
	  text-shadow: none;
	  padding-left: 25px;
	  padding-right: 0;
	  opacity: 0.4;
    }

    #menu div.form div.controls .button.edit-save:hover,
    #menu div.form div.controls .button.delete:hover {
	opacity: 1;
    }

    #menu div.form div.controls .button.edit-save {
	  background-image: url('images/edit-icon.png');
    }

    #menu div.form div.controls .button.delete {
	  background-image: url('images/delete-icon.png');
    }

    #menu div.form div.content {
	color: #A1AAB3;
	font-size: 0.857em; /* 12/14 */
    }

    ul.controls div.form.hidden {
	display: none;
    }

    ul.controls li.buttons {
	padding-left: 20px;
	padding-bottom: 20px;
    }

      ul.controls .button.add {
	  color: #A1AAB3;
	  font-weight: bold;
	  background-color: #f3f3f3;
	  border: none;
	  background-image: url('images/plus-icon.png');
	  background-repeat: no-repeat;
	  background-position: 0% 50%;
	  text-shadow: none;
	  padding-left: 30px;
      }