<ol class="menu" id="menu-{{ menu.pk }}">
  {% for menuitem in menu.menuitem_set.all %}
  <li class="menuitem{% if menuitem.is_active %} active{% endif %}" id="menuitem-{{ menuitem.pk }}">
    <div class="source">
      {{ menuitem }}
      <a class="action edit" href="{% url admin:menus_menu_menuitem_admin_edit menu.pk menuitem.pk %}">edit</a>
    </div>
    {% if menuitem.is_menu %}
    {% load admin_menu_tags %}
    {% menu menuitem.content_object %}
    {% else %}
      {% if menuitem.content_object %}
      <div class="target">
        <span class="type">{{ menuitem.content_type }}</span>
        <span class="object">{{ menuitem.content_object }}</span>
        <a class="action edit" href="{% admin_object_change_url current_app menuitem.content_type.app_label menuitem.content_type.model menuitem.object_id %}">edit {{ menuitem.content_type }}</a>
      </div>
      {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ol>
<a class="action additem" href="{% url admin:menus_menu_menuitem_admin_add_placeholder menu.pk %}">add menu item</a>
<a class="action addmenu" href="{% url admin:menus_menu_admin_add_child menu.pk %}">add sub-menu</a>
