{% extends "backslash/change_form.html" %}

{% block extrahead %}{{ block.super }}
<link href="/static/menus/backslash.css" type="text/css" rel="stylesheet" />

<script type="text/template" id="menuitem-template">
  <div class="form">
    <% if ( is_menu ) { %>
    <span class="label">Submenu</span>
    <% } %>
    <input class="disabled title" disabled="disabled" value="<%= title %>"></input>
    <% if (!is_menu) { %>
    <select class="disabled contenttype" disabled="disabled">
      <option value="<%= content_type %>"><%= content_type_name %></option>
    </select>
    <select class="disabled contentobject" disabled="disabled">
      <option value="<%= object_id %>"><%= content_object.name %></option>
    </select>
    <% } %>
    <div class="controls">
      <span class="button save hidden" title="Save">&nbsp;</span>
      <span class="button cancel hidden" title="Cancel">&nbsp;</span>
      <span class="button edit" title="Edit">&nbsp;</span>
      <span class="button delete" title="Delete">&nbsp;</span>
      <span class="button move" title="Move">Move</span>
    </div>

    <% if ( !is_menu ) { %>
    <div class="content">
      <span><%= content_type_name %>/<%= content_object.name %></span>
    </div>
    <% } %>

  </div>
</script>


<script type="text/template" id="menu-template">

  <ul class="menu" data-pk="<%= id %>"></ul>

  <ul class="controls">
    <li class="add submenu">
      <div class="form hidden">
        <input class="title" />
        <div class="controls">
          <span class="button save">&nbsp;</span>
          <span class="button cancel">&nbsp;</span>
        </div>
      </div>
    </li>

    <li class="add menuitem">
      <div class="form hidden">
        <input class="title" />
        <select class="contenttype"></select>
        <select class="contentobject"></select>

        <div class="controls">
          <span class="button save">&nbsp;</span>
          <span class="button cancel">&nbsp;</span>
        </div>
      </div>

    <li class="buttons">
      <span class="button add menuitem">New Item</span>
      <span class="button add submenu">New Submenu</span>
    </li>
  </ul>
</script>

<script type="text/javascript" src="/static/menus/lib/require.js"></script>
<script type="text/javascript" src="/static/menus/menus.js"></script>

{% endblock extrahead %}

{% block title %}{{ object.title }} - {% endblock %}

{% block breadcrumbs %}{{ block.super }} <h1 class="page-title">{{ object.title }}</h1> {% endblock %}

{% block content %}
<div id="menu" data-pk="{{ object.pk }}"></div>
{% endblock %}
